/*
  ===================
    Table Of Contents
  ===================
      -  Google Fonts
      1. Reset (minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css)
      2. Custom Properties And Utility
      3. Global Styles
      4. Typography
      5. Layout
      6. Components
        6.1 Card
        6.2 Footer
      7. Media Queries
*/

/*
  =================
    - Google Fonts
  =================
        font-family: 'Poppins', sans-serif;
        [200,400,600]
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*
  ==========
    1. Reset
  ==========
*/

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

ul {
  list-style: none
}

button,
input,
select {
  margin: 0
}

html {
  box-sizing: border-box
}

*,
*::before,
*::after {
  box-sizing: inherit
}

img,
video {
  height: auto;
  max-width: 100%
}

iframe {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

/*
  ==================================
    2. Custom Properties And Utility
  ==================================
*/

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

.offscreen {
  position: absolute;
  left: -999999px;
}

/*
  ==================
    3. Global Styles
  ==================
*/

.App {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.813rem;
  background-color: var(--very-light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem 0;
  overflow: hidden;
}

/*
  ===============
    4. Typography
  ===============
*/

header h1 {
  font-weight: 200;
  font-size: 1.313rem;
  color: var(--very-dark-blue);
}

header h2 {
  font-weight: 600;
  font-size: 1.313rem;
  color: var(--very-dark-blue);
}

header p {
  font-weight: 400;
  color: var(--grayish-blue);
}

.card h2 {
  font-weight: 600;
  color: var(--very-dark-blue);
  font-size: 1.188rem;
}

.card p {
  font-weight: 400;
  color: var(--grayish-blue);
}

/*
  ===========
    5. Layout
  ===========
*/

header {
  max-width: 19.563rem;
  text-align: center;
}

header h2 {
  margin-bottom: 0.625rem;
}

header p {
  margin-bottom: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.375rem;
}

.center-container {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

/*
  ===============
    6. Components
  ===============
      6.1 Card
      6.2 Footer
*/

.card {
  max-width: 19.563rem;
  min-height: 14rem;
  border-radius: 0.438rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card h2 {
  margin-bottom: 0.938rem;
}

.card p {
  margin-bottom: 2.188rem;
}

.card figure {
  align-self: flex-end;
}

.supervisor {
  border-top: 5px solid var(--cyan);
}

.team-builder {
  border-top: 5px solid var(--red);
}

.karma {
  border-top: 5px solid var(--orange);
}

.calculator {
  border-top: 5px solid var(--blue);
}

footer {
  display: none;
  position: absolute;
  bottom: 10px;
  padding: 0.3rem;
  border-radius: 10px;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.5s ease;
}

footer p a,
footer p a:visited {
  color: #3C4048;
  transition: 0.2s ease;
}

footer a:focus {
  outline: none;
}

footer a:hover,
footer a:focus {
  color: #F96666;
  text-decoration-color: transparent;
}

/*
  ==================
    7. Media Queries
  ==================
*/

@media screen and (max-width:21.875rem) {

  /*
    ==================================
      Extra Small Screen Global Styles
    ==================================
  */

  .App {
    min-width: 17.5rem;
  }

  /*
    ===========================
      Extra Small Screen Layout
    ===========================
  */
  main {
    flex-direction: column;
  }

  header {
    max-width: 16.25rem;
  }

  /*
    ===============================
      Extra Small Screen Components
    ===============================
        Extra Small Screen Card
  */

  .card {
    max-width: 15.625rem;
    min-height: 15.75rem;
  }
}

@media screen and (min-width:36rem) {
  /*
  ======================
    Tablet Global Styles
  ======================
  */

  .App {
    justify-content: center;
  }

  /*
  ===================
    Tablet Typography
  ===================
  */

  header h1 {
    font-size: 1.875rem;
  }

  header h2 {
    font-size: 1.875rem;
  }

  header p {
    font-size: 0.938rem;
    margin-bottom: 1.875rem;
  }

  /*
  ===============
    Tablet Layout
  ===============
  */

  main {
    display: grid;
    grid-template-columns: repeat(2, 15.813rem);
  }

  .center-container {
    flex-grow: 1;
    flex-direction: row;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  header {
    max-width: 32.188rem;
  }

  /*
  ===================
    Tablet Components
  ===================
      Tablet Card-Footer
  */

  .card {
    max-width: 15.813rem;
    max-height: 15.25rem;
  }

  footer {
    display: block;
  }
}

@media screen and (min-width:70rem) {
  /*
  =======================
    Desktop Global Styles
  =======================
  */

  .App {
    justify-content: center;
  }

  /*
  ====================
    Desktop Typography
  ====================
  */

  header h1 {
    font-size: 1.875rem;
  }

  header h2 {
    font-size: 1.875rem;
  }

  header p {
    font-size: 0.938rem;
    margin-bottom: 5rem;
  }

  /*
  ================
    Desktop Layout
  ================
  */

  main {
    display: flex;
    flex-direction: row;
  }

  .center-container {
    flex-direction: column;
  }

  header {
    max-width: 32.188rem;
  }

  /*
  ====================
    Desktop Components
  ====================
      Desktop Card-Footer
  */

  .card {
    max-width: 22rem;
    min-height: 15.75rem;
  }

  footer {
    display: block;
  }
}